// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// $secondary-lighter: #46FFD5;

// $first: #1771e9;
// $secondary: #4febc2;


// $first: #fdece1;
// $secondary: #33a085;

// $first: #4ae0cf;
// $secondary: #eecc5d;

// $first: #3fc5cb;
// $secondary: #20284f;

// $first: #e3e1e0;
// $secondary: #c24639;

$first: white;
$secondary: #729EA1;
$secondary-lighter: #88C1C5;

$dark-grey: #282626;
$dark-grey-lighter: #424141;
