// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// $first: #e3e1e0;
// $secondary: #c24639;

$first: #7dc2af;
$first-lighter: #9AE8D9;
$secondary: #e27d5f;
$secondary-lighter: #FEB89A;


$lilla: #c38d9d;

$dark-grey: #282626;
$dark-grey-lighter: #424141;
