<div class="main-container-smaller centered">
  <div class="landing-headers">
    <h1 class="landing-title title-shadow">Welcome to <span style="color: #e27d5f;">Hexagons</span></h1>
    <!-- <p>Find me in app/views/pages/home.html.erb</p> -->
  </div>

  <div class="vertical-flex all-explanations">

    <div class="explanation">
      <p class="landing-paragraph">
        Life is a sequence of experiences.
        Some make us rejoice, others weep, some reflect, others make us laugh. If we are who we are, we owe it to our experiences.
        Understand the past is the first step to have a brighter future.
      </p>
    </div>

    <div class="explanation">
      <p class="landing-paragraph">
        Hexagons® wants to help you to think about those moments.
        Each hexagon is an experience: fix it writing your thoughts.
      </p>
    </div>

    <div class="explanation mt-5">
      <p class="landing-paragraph">
        <span class="motto title-shadow">Look at the future drawing the past</span>
      </p>
    </div>
  </div>

  <div class="button-box">
    <% if @user.nil? %>
      <div class="flex-button-box">
        <%= link_to "Sign Up", new_user_registration_path, class: "button-full" %>
        <p class="my-3">or</p>
        <%= link_to "Login", new_user_session_path, class: "button-empty" %>
      </div>
    <% else %>
      <%= link_to "Go to my paths", paths_path, class: "button-full" %>
    <% end %>
  </div>

</div>





