<div class="main-container-smaller centered">
  <div class="landing-headers">
    <h1 class="landing-title title-shadow">Welcome to <span style="color: #e27d5f;">Hexagons</span></h1>
    <!-- <p>Find me in app/views/pages/home.html.erb</p> -->
  </div>

  <div class="vertical-flex all-explanations">

    <div class="explanation">
      <p class="landing-paragraph">
        Life is a collection of experiences: if we are who we are we owe it to them. Becoming aware of our past, examining what we have lived and how we lived it is an essential step to better understand who we are today and what we want to become tomorrow. Hexagons is a diary of the key moments in life, the milestones that have marked our journey up to here. Create your own path: inside it, each hexagon represents one of these key moments.
      </p>
    </div>

    <div class="explanation">
      <p class="landing-paragraph">
        Describe what you have experienced and keep it as a precious stone.
      </p>
    </div>

    <div class="explanation mt-5">
      <p class="landing-paragraph">
        <span class="motto title-shadow">Look at the future drawing the past</span>
      </p>
    </div>
  </div>

  <div class="button-box">
    <% if @user.nil? %>
      <div class="flex-button-box">
        <%= link_to "Sign Up", new_user_registration_path, class: "button-full" %>
        <p class="my-3">or</p>
        <%= link_to "Login", new_user_session_path, class: "button-empty" %>
      </div>
    <% else %>
      <%= link_to "Go to my paths", paths_path, class: "button-full" %>
    <% end %>
  </div>

</div>





