.button-full {
  background: $secondary;
  padding: 8px 24px;
  color: white;
  // border-radius: 4px;
  font-size: 18px;
  font-weight: normal;
  border: 3px solid $secondary;
  &:hover {
    background: $secondary-lighter;
    border: 3px solid $secondary-lighter;
    color: white;
  }
}

.button-empty {
  background: $first;
  padding: 8px 24px;
  color: $secondary;
  // border-radius: 4px;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
  font-size: 18px;
  font-weight: normal;
  border: 3px solid $secondary;
  &:hover {
    // background: white;
    color: white;
    border: 3px solid white;
  }
}

.margin-down {
  margin-bottom: 50px;
}

