.button-full {
  background: $secondary;
  padding: 8px 24px;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  &:hover {
    background: $secondary-lighter;
    color: white;
  }
}

.button-empty {
  background: $first;
  padding: 8px 24px;
  color: $secondary;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid $secondary;
  &:hover {
    background: white;
    color: $secondary-lighter;
    border: 2px solid $secondary-lighter;
  }
}

