.date {
  color: rgba(0,0,0,0.5);
  font-size: 13px;
  font-weight: lighter;
}

.h-title {
  font-size: 30px;
  color: black;

  &:hover {
    color: #345d5d;
  }
}

.h-paragraph {
  font-size: 16px;
  color: grey;

}

.date-title {
  color: rgba(0,0,0,0.7);
  font-size: 18px;
}

.p-text {
  font-size: 20px;
  font-family: 'Lora';
}

.titolo {
  font-family: 'Playfair Display', serif;
}
