.date {
  color: white;
  font-size: 13px;
  font-weight: lighter;
}

.h-title {
  font-size: 30px;
  a {
    color: $dark-grey;
    transition: 0.5;

    &:hover {
      color: $dark-grey-lighter;
    }

  }

}


.date-title {
  color: rgba(0,0,0,0.7);
  font-size: 18px;
}

.icon-in-big {
  i {
    color: white;
    &:hover {
      color: red;
    }
  }

}

.title-shadow {
  text-shadow: 1px 1px white;
}

.text-shadow-light {
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}

// paths/show
.plus-button:hover {
  color: $lilla;
  font-size: 50px;
}



// paths/index

.card-header {
  background: white;
  border: none;
  a {
    color: $dark-grey;
    transition: 0,5s;
    &:hover {
      color: $lilla;
      text-shadow: 1px 1px rgba(0,0,0,0.2);
    }
  }
}


// heagon/show

.subtitle {
  font-size: 32px;
}

.bigger-date {
  font-size: 16px;
  color: white;
}

// Landing page

.landing-title {
  font-size: 64px;
}

.landing-paragraph {
  font-size: 24px;
  font-weight: lighter;
}

.motto {
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

.no-path-paragraph {
  font-size: 56px;
}
