.form-control {
  border-radius: 4px;
  background: white;
  font-size: 18px;
}

label {
  font-size: 20px;
  font-family: 'Playfair Display', serif;
}

trix-toolbar {
  margin: 20px 0;
}

trix-toolbar .trix-button-group button {
  background-color: white;
}

// trix-toolbar .trix-button-group {
//   // .trix-button--icon-decrease-nesting-level { display: none; }
// }

trix-toolbar .trix-button--icon-attach {
  display: none;
}

.form-small-box {
  width:450px;
  margin: 0 auto;
  padding: 20px;

  // border: solid 2px black;
}

.form-title {
  margin-bottom: 40px;
  font-size: 40px;
}


.forgot-link {
  margin-top: 40px;
}
