.form-control {
  border-radius: 4px;
  background: white;
}

.form-small-box {
  width:450px;
  margin: 0 auto;
  padding: 20px;

  // border: solid 2px black;
}

.form-title {
  margin-bottom: 40px;
  font-size: 40px;
}


.forgot-link {
  margin-top: 40px;
}
