body {
  // background: white;
  background: $first;
  background-image: url(dot-grid.png);
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none !important;
}

h1,h2, h3 {
  color: $dark-grey;
}
